<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading text-muted">私の経歴</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2008 - </h4>
                                    <h4 class="subheading">某大手自動車関連企業に就職</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">鋳造部品の品質課，先行生産設備開発，製品3D設計を経験。入社直後からリーマンショック，東日本大震災，タイ大洪水等で製造業のカイゼン手法を目の当たりにする。報告書がA3用紙1枚，マンガ絵を使った資料など，大学とまったく異なりスピードはあるが質が低い頭の悪そうな手法，とこの時は思っていた（後述）</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016 - </h4>
                                    <h4 class="subheading">IT技術の習得</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">製品3D設計部署にて，Creo設計ツールの開発，PDM導入に携わる。その中でパソコン購入に数か月かかったりオープンソースソフトを試すことすら難しいなど，現在の製造大企業の問題点を認識。また，IT企業のウォーターフォール開発が製造業のQCを軸とした開発フローと全く違うこと，IT業界で日本製造業を模倣したアジャイル開発＝頭悪そうと思っていた手法が最先端として認識されていること，双方その認識なく別物として扱っており共通言語を持てていない現実を知る。</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2021 - </h4>
                                    <h4 class="subheading">セカンドワーク開始</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">働き方改革の一環としてセカンドワークを申請。「社会から情報を得て社内技術力を向上する」という目的にも合致し，大企業でやりにくいことの実践，製造とITの橋渡しをするため雇用元の方針上個人事業主として開業。</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>It's
                                    <br>going
                                    <br>on!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>