<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">私の経歴</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2008 - </h4>
                                    <h4 class="subheading">某大手自動車関連企業に就職</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">鋳造部品の品質課，先行生産設備開発，製品3D設計を経験。入社直後からリーマンショック，東日本大震災，タイ大洪水等を通じ製造業のカイゼン手法を習得。</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016 - </h4>
                                    <h4 class="subheading">IT技術の習得</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">製品3D設計部署にて，Creoツールの開発，PDM導入に携わる。その中で製造大企業の問題点：膨大な申請，OSS使用不可などを認識。また，製造業と開発フローが全く違うこと，日本の製造業を模倣したアジャイル開発の台頭，共通言語を持てていない現実を知る。</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2021 - </h4>
                                    <h4 class="subheading">セカンドワーク開始</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">働き方改革の一環としてセカンドワークを申請。大企業でできないことの実践，製造とITの橋渡しをするため個人事業主として開業。</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>It's
                                    <br>going
                                    <br>on!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>