<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">大企業は確かに有利。でも不利なこともたくさんある。</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">3DDATA</h4>
                    <p class="text-muted">モデリング受託：Fusion360,Creo</br>
                      環境改善：Fusion360,Creo</p>
                    <p class="text-muted">(Creo環境は発注元にてご準備願います）</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Prototyping</h4>
                    <p class="text-muted">本業は生産技術。量産を考慮した試作をサポートします。</p>
                    <p class="text-muted">また製造，ITシステム開発経験から，良いとこ取りの開発・双方の橋渡しが強みです。</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Automation</h4>
                    <p class="text-muted">生産設備：シーケンサ・センシングによる自動化</br>
                    設計・事務作業：Creo リレーション,Weblink他，JavaScript・Python等プログラムによる自動化</p>
                </div>
            </div>
        </div>
    </section>